
<h2>Redaguokite daina</h2>
<form method="POST">
<label for="pavadinimas">Pavadinimas</label>
<input type="text" name="pavadinimas">
<label for="albumas">Albumas</label>
<input type="text" name="albumas">
<div class="add">

  <button class="btn btn-success ">Confirm</button>
</div>

</form>

