<h2>Pridekite Nauja playlist</h2>

<form method="POST" action="/playlist/new">
<label for="playlist_name">Pavadinimas</label>
<input type="text" name="playlist">



<button type="submit">Pridėti</button>


</form>

<a href="/database">Grižti į pradinį</a>
<a href="/playlist">Grįžti į Playlist</a>
